
{% extends 'back/base_main.html' %}
{% block title %}
    添加分类
{% endblock %}


{% block content %}
    <style>
    .dataStatistic{width:400px;height:200px;border:1px solid #ccc;margin:0 auto;margin:10px;overflow:hidden}
    #cylindrical{width:400px;height:200px;margin-top:-15px}
    #line{width:400px;height:200px;margin-top:-15px}
    #pie{width:400px;height:200px;margin-top:-15px}
    </style>



<section class="rt_wrap mCustomScrollbar">

    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">文章分类详情</h2>
            <a class="fr top_rt_btn" href="goods_category_list.html">返回文章分类列表</a>
        </div>
        <form action="" method="post">
            {{ error }}
            <section>
                <ul class="ulColumn2">
                    <li>
                        <span class="item_name" style="width:120px;">文章分类名称：</span>
                        <input type="text" name="atype">
                    </li>


                    <li>
                        <span class="item_name" style="width:120px;"></span>
                        <input type="submit" class="link_btn"/>
                    </li>
                </ul>
            </section>
        </form>
    </div>
</section>
{% endblock %}